p {
    color: red;
}

a {
    color: blue;
}

body {
	background-color: grey;
}

nav ul{
	list-style-type: none;
	padding:0;
	margin:0:
}

nav il{ 
	display: inline;
	background-color: black;
	font-size: 15px;
}